In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
metData = pd.read_csv('../Data/allData.csv')
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,NaN,NaN,NaN,969.8,968.8,65.0,62.0,10.6,9.4,SH
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,NaN,NaN,NaN,970.3,968.9,63.0,62.0,9.4,8.1,SH
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,NaN,NaN,NaN,970.7,969.8,64.0,63.0,8.1,7.5,SH
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,NaN,NaN,NaN,971.7,970.5,65.0,64.0,7.5,7.3,SH
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,NaN,NaN,NaN,972.1,971.2,65.0,64.0,7.4,7.1,SH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,NaN,NaN,NaN,1022.4,1022.2,81.0,79.0,7.4,7.0,SH
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,NaN,NaN,NaN,1022.5,1022.3,81.0,79.0,7.1,6.7,SH
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,NaN,NaN,NaN,1022.4,1022.3,82.0,81.0,6.7,6.4,SH
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,NaN,NaN,NaN,1022.4,1022.0,81.0,80.0,6.7,6.4,SH
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,NaN,NaN,NaN,1022.0,1021.7,82.0,79.0,6.7,6.2,SH

In [3]:
Estacions = pd.read_excel('../Data/references.xlsx')
Estacions

,Codi,Nom,Comarca,Data inici,Altura anemòmetre (m),X,Y,Z
0,X4,Barcelona - el Raval,Barcelonès,2006-10-11 00:00:00,10,41.38390,2.16775,33
1,X8,Barcelona - Zona Universitària,Barcelonès,17/04/2008,10,41.37919,2.10540,79
2,X2,Barcelona - Zoo,Barcelonès,2006-09-22 00:00:00,0,41.38943,2.18847,7
3,D5,Barcelona - Observatori Fabra,Barcelonès,1995-11-03 00:00:00,10,41.41864,2.12379,411
4,WU,Badalona - Museu,Barcelonès,2005-09-21 00:00:00,6,41.45215,2.24757,42
5,Y7,Port de Barcelona - Bocana Sud,Baix Llobregat,2015-04-08 00:00:00,10,41.31725,2.16537,3

In [4]:
metData['lat'] = float('nan')
metData['lon'] = float('nan')
metData['alt'] = float('nan')
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,PX,PN,HRX,HRN,TX,TN,SH,lat,lon,alt
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,969.8,968.8,65.0,62.0,10.6,9.4,SH,NaN,NaN,NaN
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,970.3,968.9,63.0,62.0,9.4,8.1,SH,NaN,NaN,NaN
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,970.7,969.8,64.0,63.0,8.1,7.5,SH,NaN,NaN,NaN
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,971.7,970.5,65.0,64.0,7.5,7.3,SH,NaN,NaN,NaN
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,972.1,971.2,65.0,64.0,7.4,7.1,SH,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,1022.4,1022.2,81.0,79.0,7.4,7.0,SH,NaN,NaN,NaN
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,1022.5,1022.3,81.0,79.0,7.1,6.7,SH,NaN,NaN,NaN
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,1022.4,1022.3,82.0,81.0,6.7,6.4,SH,NaN,NaN,NaN
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,1022.4,1022.0,81.0,80.0,6.7,6.4,SH,NaN,NaN,NaN
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,1022.0,1021.7,82.0,79.0,6.7,6.2,SH,NaN,NaN,NaN

In [57]:
for index, row in metData.iterrows():
    metData.iloc[index,-3] = Estacions[Estacions['Codi'] == row['ESTACIO']]['X'].array[0]
    metData.iloc[index,-2] = Estacions[Estacions['Codi'] == row['ESTACIO']]['Y'].array[0]
    metData.iloc[index,-1] = Estacions[Estacions['Codi'] == row['ESTACIO']]['Z'].array[0]

KeyboardInterrupt:

In [ ]:
metData.head(20)

In [4]:
Estacions[Estacions['Codi'] == 'X4']['X']

0    41.3839
Name: X, dtype: float64

In [5]:
def getLat(Codi):
    lat = Estacions[Estacions['Codi'] == Codi]['X']
    return lat

In [6]:
def getLon(Codi):
    lon = Estacions[Estacions['Codi'] == Codi]['Y']
    return lon

In [7]:
def getAlt(Codi):
    alt = Estacions[Estacions['Codi'] == Codi]['Z']
    return alt

In [8]:
metData['lat'] = ""
metData['lon'] = ""
metData['alt'] = ""
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,PX,PN,HRX,HRN,TX,TN,SH,lat,lon,alt
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,969.8,968.8,65.0,62.0,10.6,9.4,SH,,,
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,970.3,968.9,63.0,62.0,9.4,8.1,SH,,,
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,970.7,969.8,64.0,63.0,8.1,7.5,SH,,,
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,971.7,970.5,65.0,64.0,7.5,7.3,SH,,,
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,972.1,971.2,65.0,64.0,7.4,7.1,SH,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,1022.4,1022.2,81.0,79.0,7.4,7.0,SH,,,
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,1022.5,1022.3,81.0,79.0,7.1,6.7,SH,,,
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,1022.4,1022.3,82.0,81.0,6.7,6.4,SH,,,
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,1022.4,1022.0,81.0,80.0,6.7,6.4,SH,,,
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,1022.0,1021.7,82.0,79.0,6.7,6.2,SH,,,

In [9]:
metData['lat'] = metData.apply(lambda x: getLat(x.ESTACIO),axis=1)

In [10]:
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,PX,PN,HRX,HRN,TX,TN,SH,lat,lon,alt
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,969.8,968.8,65.0,62.0,10.6,9.4,SH,NaN,,
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,970.3,968.9,63.0,62.0,9.4,8.1,SH,NaN,,
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,970.7,969.8,64.0,63.0,8.1,7.5,SH,NaN,,
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,971.7,970.5,65.0,64.0,7.5,7.3,SH,NaN,,
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,972.1,971.2,65.0,64.0,7.4,7.1,SH,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,1022.4,1022.2,81.0,79.0,7.4,7.0,SH,NaN,,
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,1022.5,1022.3,81.0,79.0,7.1,6.7,SH,NaN,,
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,1022.4,1022.3,82.0,81.0,6.7,6.4,SH,NaN,,
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,1022.4,1022.0,81.0,80.0,6.7,6.4,SH,NaN,,
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,1022.0,1021.7,82.0,79.0,6.7,6.2,SH,NaN,,

In [11]:
for index, row in Estacions.iterrows():
    metData['lat'] = metData.apply(lambda row: getLat(row['Codi']),axis=1)

metData

KeyError: ('Codi', 'occurred at index 0')

In [9]:
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,NaN,NaN,NaN,969.8,968.8,65.0,62.0,10.6,9.4,SH
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,NaN,NaN,NaN,970.3,968.9,63.0,62.0,9.4,8.1,SH
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,NaN,NaN,NaN,970.7,969.8,64.0,63.0,8.1,7.5,SH
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,NaN,NaN,NaN,971.7,970.5,65.0,64.0,7.5,7.3,SH
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,NaN,NaN,NaN,972.1,971.2,65.0,64.0,7.4,7.1,SH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,NaN,NaN,NaN,1022.4,1022.2,81.0,79.0,7.4,7.0,SH
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,NaN,NaN,NaN,1022.5,1022.3,81.0,79.0,7.1,6.7,SH
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,NaN,NaN,NaN,1022.4,1022.3,82.0,81.0,6.7,6.4,SH
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,NaN,NaN,NaN,1022.4,1022.0,81.0,80.0,6.7,6.4,SH
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,NaN,NaN,NaN,1022.0,1021.7,82.0,79.0,6.7,6.2,SH

In [6]:
metData['lat'] = ""
metData['lon'] = ""
metData['alt'] = ""
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,PX,PN,HRX,HRN,TX,TN,SH,lat,lon,alt
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,969.8,968.8,65.0,62.0,10.6,9.4,SH,,,
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,970.3,968.9,63.0,62.0,9.4,8.1,SH,,,
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,970.7,969.8,64.0,63.0,8.1,7.5,SH,,,
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,971.7,970.5,65.0,64.0,7.5,7.3,SH,,,
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,972.1,971.2,65.0,64.0,7.4,7.1,SH,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,1022.4,1022.2,81.0,79.0,7.4,7.0,SH,,,
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,1022.5,1022.3,81.0,79.0,7.1,6.7,SH,,,
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,1022.4,1022.3,82.0,81.0,6.7,6.4,SH,,,
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,1022.4,1022.0,81.0,80.0,6.7,6.4,SH,,,
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,1022.0,1021.7,82.0,79.0,6.7,6.2,SH,,,

In [ ]:
metData['lat'] = metData.apply(lambda row: getLatLonAlt() )

In [ ]:
def custom_rating(genre,rating):
    if 'Thriller' in genre:
        return min(10,rating+1)
    elif 'Comedy' in genre:
        return max(0,rating-1)
    else:
        return rating
        
df['CustomRating'] = df.apply(lambda x: custom_rating(x['Genre'],x['Rating']),axis=1)

In [7]:
metData['lat'] = metData.apply(lambda row: Estacions[Estacions['Codi'] == row.ESTACIO]['X'], axis = 1)

In [8]:
metData[metData['ESTACIO'] == 'X8']

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,PX,PN,HRX,HRN,TX,TN,SH,lat,lon,alt
140160,X8,2018-01-01 00:00:00,13.4,50.0,0.0,0.0,1008.7,5.0,309.0,10.7,...,1009.0,1008.2,52.0,49.0,13.7,12.8,SH,NaN,,
140161,X8,2018-01-01 00:30:00,12.0,50.0,0.0,0.0,1009.2,5.6,311.0,14.2,...,1009.6,1008.7,52.0,49.0,12.8,11.3,SH,NaN,,
140162,X8,2018-01-01 01:00:00,10.9,52.0,0.0,0.0,1009.7,5.3,310.0,11.3,...,1010.0,1009.5,52.0,51.0,11.3,10.6,SH,NaN,,
140163,X8,2018-01-01 01:30:00,10.6,52.0,0.0,0.0,1010.4,7.2,316.0,13.2,...,1011.0,1009.8,53.0,52.0,10.6,10.5,SH,NaN,,
140164,X8,2018-01-01 02:00:00,10.6,52.0,0.0,0.0,1011.1,6.9,317.0,12.4,...,1011.4,1010.9,52.0,51.0,10.7,10.5,SH,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,1022.4,1022.2,81.0,79.0,7.4,7.0,SH,NaN,,
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,1022.5,1022.3,81.0,79.0,7.1,6.7,SH,NaN,,
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,1022.4,1022.3,82.0,81.0,6.7,6.4,SH,NaN,,
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,1022.4,1022.0,81.0,80.0,6.7,6.4,SH,NaN,,
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,1022.0,1021.7,82.0,79.0,6.7,6.2,SH,NaN,,

In [7]:
i = 0
for index, row in metData.iterrows():
    for codi in CodisEstacions:
        metData
    i=i+1
    print(metData.loc[index,'ESTACIO'])
    if i>10:
        break

D5
D5
D5
D5
D5
D5
D5
D5
D5
D5
D5

In [17]:
res = Estacions[Estacions['Codi'] == 'X4']

In [25]:
for codi in CodisEstacions:
    value = Estacions[Estacions['Codi'] == codi]['X']
    metData.loc[metData['ESTACIO'] == codi] = value

ValueError: Must have equal len keys and value when setting with an iterable

In [12]:
i = 0
for index, row in metData.iterrows():
    i=i+1
    print(metData.loc[index,'ESTACIO'])
    if i>10:
        break

D5
D5
D5
D5
D5
D5
D5
D5
D5
D5
D5

In [13]:
metData['lat'] = 0

In [14]:
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH,lat
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,NaN,NaN,969.8,968.8,65.0,62.0,10.6,9.4,SH,0
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,NaN,NaN,970.3,968.9,63.0,62.0,9.4,8.1,SH,0
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,NaN,NaN,970.7,969.8,64.0,63.0,8.1,7.5,SH,0
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,NaN,NaN,971.7,970.5,65.0,64.0,7.5,7.3,SH,0
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,NaN,NaN,972.1,971.2,65.0,64.0,7.4,7.1,SH,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,NaN,NaN,1022.4,1022.2,81.0,79.0,7.4,7.0,SH,0
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,NaN,NaN,1022.5,1022.3,81.0,79.0,7.1,6.7,SH,0
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,NaN,NaN,1022.4,1022.3,82.0,81.0,6.7,6.4,SH,0
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,NaN,NaN,1022.4,1022.0,81.0,80.0,6.7,6.4,SH,0
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,NaN,NaN,1022.0,1021.7,82.0,79.0,6.7,6.2,SH,0

metData